<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->


<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="icon" type="image/svg+xml" href="/assets/images/logo_animated.svg">

<script>
  const isChrome = () => /Chrome/.test(navigator.userAgent) && !/Edge/.test(navigator.userAgent);
  
  if (isChrome()) {
    const link = document.querySelector("link[rel='icon']");
    const [noLogo, logo] = ['/assets/images/logo_no.svg', '/assets/images/logo.svg'];
    let useAlt = false;
    
    setInterval(() => {
      link.href = useAlt ? logo : noLogo;
      useAlt = !useAlt;
    }, 1000);
  }
</script>


<!-- end custom head snippets -->
