---
---

@import "{{ site.theme }}";

header {
  display: none;
}

body {
  padding-bottom: 0;
  margin-bottom: 0;
}

section {
    width: 667px;
    float: none;
    padding-bottom: 0;
}

footer {
    float: none;
    position: relative;
    bottom: none;
}

footer p:first-child {
  display: none;
}
