@import "{{ site.theme }}";

header {
  display: none;
}

body {
  padding-bottom: 0;
  margin-bottom: 0;
}

section {
    width: 100%;
    max-width: 667px;
    float: none;
    padding-bottom: 0;
    margin: 0 auto; 
}

footer {
    float: none;
    position: relative;
    bottom: inherit;
}

footer p:first-child {
  display: none;
}

